.form {
  width: 260px;
  margin: 0 auto;
}

.form__type {
  margin-bottom: 30px;
  padding: 0;
}

.type__title {
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  text-transform: uppercase;
}

.type__row {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.type__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
}

.form__color {
  margin-bottom: 30px;
  padding: 0;
}

.color__title {
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-transform: uppercase;
}

.color__row {
  margin: 0;
  margin-bottom: 10px;
}

.color__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
}

.form__introduce {
  margin-bottom: 30px;
  padding: 0;
}

.introduce__title {
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-transform: uppercase;
}

.introduce__row {
  margin: 0;
  margin-bottom: 20px;
}

.introduce__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
}

.introduce__input {
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
}

.form__contact {
  padding: 0;
}

.contact__title-phone {
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: #63d1bb;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.contact__title-email {
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: #63d1bb;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.contact__input {
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
}

.additionally__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: #63d1bb;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.form__additionally {
  padding: 0;
}

.additionally__textform {
  width: 220px;
  min-height: 102px;
  border: solid 2px #444444;
  padding: 18px;
}

.form__note {
  font-size: 14px;
  line-height: 1.14;
  color: #444444;
}

.form__button {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-transform: uppercase;
  color: #444444;
  border: solid 2px #444444;
  padding: 15px 47px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {
  .form {
    width: 668px;
  }

  .form__wrapper {
    display: flex;
  }

  .type__title {
    margin-right: 130px;
  }

  .type__row {
    margin-bottom: 30px;
  }

  .type__label {
    font-size: 19px;
    line-height: 0.95;
  }

  .color__title {
    margin-right: 130px;
  }

  .form__controls-color {
    display: flex;
    flex-wrap: wrap;
  }

  .color__row {
    width: 210px;
    margin-bottom: 30px;
  }

  .color__label {
    font-size: 19px;
    line-height: 0.95;
  }

  .introduce__title {
    margin-right: 130px;
  }

  .form__contact {
    margin-bottom: 50px;
  }

  .form__wrapper-contact {
    flex-wrap: wrap;
  }

  .contact__title-phone {
    margin-right: 130px;
  }

  .contact__title-email {
    margin-right: 105px;
  }

  .contact__row {
    width: 500px;
    margin: 0;
    margin-bottom: 20px;
  }

  .form__additionally {
    margin-bottom: 45px;
  }

  .additionally__title {
    margin-right: 130px;
  }

  .additionally__row {
    margin: 0;
  }

  .additionally__textform {
    width: 460px;
  }

  .form__footer {
    display: flex;
    flex-direction: row-reverse;
  }

  .form__button {
    margin-right: 165px;
  }
}
