.form-block {
  margin-bottom: 55px;
}

.form-block__header {
  background-color: #ececec;
  margin-bottom: 20px;
  padding-top: 71px;
  padding-bottom: 75px;
}

.form-block__title {
  width: 260px;
  font-size: 27px;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0 auto;
}

.form-block__discription {
  width: 260px;
  font-size: 13px;
  line-height: 1.85;
  color: #444444;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
}

@media (min-width: 768px) {
  .form-block {
    margin-top: -42px;
    margin-bottom: 50px;
  }

  .form-block__header {
    position: relative;
    margin-bottom: 70px;
    padding-top: 94px;
    padding-bottom: 85px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: -12px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 100%;
      background-repeat: repeat-x;
    }
  }

  .form-block__title {
    width: 387px;
    font-size: 43px;
    line-height: 1.16;
    letter-spacing: 1.6px;
  }

  .form-block__discription {
    width: 668px;
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 60px;
  }
}

@media (min-width: 1150px) {
  .form-block__header {
    margin-bottom: 105px;

    &::after {
      height: 34px;
      bottom: 0;
      left: 0;
    }
  }

  .form-block__title {
    width: 1050px;
    font-size: 53px;
    line-height: 1.08;
    padding-bottom: 35px;
  }

  .form-block__discription {
    width: 700px;
  }
}
