.form__wrapper {
  width: 260px;
  margin: 0 auto;
}

.form__type {
  margin-bottom: 40px;
  padding: 0;
}

.type__title {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  text-transform: uppercase;
}

.type__title::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  top: 10px;
  left: 62px;
  background-color: #63d1bb;
}

.type__row {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.type__label {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  letter-spacing: 1.2px;
  margin-bottom: 25px;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
    width: 36px;
    height: 36px;
    border: solid 2px #444444;
    border-radius: 50%;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 3px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: #62d1ba;
    border-radius: 50%;
  }
}

.type__label:hover::before,
.type__label:focus::before {
  border: solid 2px #62d1ba;
}

.type__input:checked + .type__label::after {
  display: inline-block;
}

.type__input:focus + .type__label::before {
  border: solid 2px #62d1ba;
}

.type__input:disabled + .type__label::before {
  border: solid 2px rgba(68, 68, 68, 0.3);
}

.form__color {
  margin-bottom: 30px;
  padding: 0;
}

.color__title {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  text-transform: uppercase;
}

.color__title::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  top: 11px;
  left: 65px;
  background-color: #63d1bb;
}

.color__row {
  margin: 0;
  margin-bottom: 10px;
}

.color__label {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  letter-spacing: 1.2px;
  margin-bottom: 43px;
  padding-left: 63px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -11px;
    width: 36px;
    height: 35px;
    border: solid 2px #444444;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: -7px;
    left: 13px;
    width: 6px;
    height: 17px;
    border: solid 3px rgba(0, 0, 0, 1);
    transform: rotate(47deg);
    border-left-color: transparent;
    border-top-color: transparent;
  }
}

.color__input:checked + .color__label::after {
  display: block;
}

.color__input:focus + .color__label::before {
  border: solid 2px #62d1bb;
}

.color__label:hover::before,
.color__label:focus::before {
  border: solid 2px #62d1bb;
}

.color__input:disabled + .color__label::before {
  border: solid 2px rgba(68, 68, 68, 0.3);
}

.form__introduce {
  margin-bottom: 27px;
  padding: 0;
}

.introduce__title {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-transform: uppercase;
}

.introduce__title::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  top: 9px;
  left: 62px;
  background-color: #63d1bb;
}

.introduce__row {
  margin: 0;
  margin-bottom: 19px;
}

.introduce__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  letter-spacing: 1.2px;
}

.introduce__input {
  width: 260px;
  letter-spacing: 0.5px;
  color: #444444;
  padding: 17px 0;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 1);
  background-color: transparent;

  &:hover,
  &:focus {
    border-bottom: solid 2px #62d1ba;
    outline: none;
  }
}

.form__contact {
  padding: 0;
}

.contact__row {
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;
}

.contact__icon {
  position: absolute;
  top: 13px;
  opacity: 0.2;

  &--phone {
    right: 8px;
  }

  &--email {
    right: 3px;
  }
}

.contact__input:hover + .contact__icon,
.contact__input:focus + .contact__icon,
.contact__input:active + .contact__icon {
  opacity: 1;
  fill: #62d1ba;
}

.contact__title-phone {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  text-transform: uppercase;
}

.contact__title-phone::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  top: 10px;
  left: 62px;
  background-color: #63d1bb;
}

.contact__title-email {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  letter-spacing: 1px;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  text-transform: uppercase;
}

.contact__title-email::after {
  content: "";
  position: absolute;
  width: 180px;
  height: 1px;
  top: 9px;
  left: 80px;
  background-color: #63d1bb;
}

.contact__input {
  width: 260px;
  letter-spacing: 1px;
  color: #444444;
  margin-bottom: 15px;
  padding: 17px 0;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 1);
  background-color: transparent;

  &:hover,
  &:focus {
    border-bottom: solid 2px #62d1ba;
    outline: none;
  }
}

.additionally__title {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  color: #63d1bb;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  text-transform: uppercase;
}

.additionally__title::after {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  top: 10px;
  left: 62px;
  background-color: #63d1bb;
}

.form__additionally {
  padding: 0;
}

.additionally__row {
  margin-bottom: 15px;
}

.additionally__textform {
  width: 223px;
  letter-spacing: 0.8px;
  min-height: 102px;
  border: solid 2px #444444;
  padding: 16px;
  padding-bottom: 20px;

  &:hover,
  &:focus {
    border: solid 2px #62d1ba;
    outline: none;
  }
}

.form__footer {
  width: 260px;
  margin: 0 auto;
}

.form__note {
  font-size: 14px;
  line-height: 1.14;
  color: #444444;
  margin-bottom: 30px;
}

.form__button {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #444444;
  border: solid 2px #444444;
  padding: 15px;
  padding-right: 48px;
  padding-left: 44px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {
  .form__wrapper {
    width: 668px;
    margin: 0 auto;
    display: flex;
  }

  .form__controls-type {
    padding-top: 14px;
  }

  .form__type {
    margin-bottom: 15px;
  }

  .type__title {
    margin-right: 130px;
    padding-top: 14px;
    padding-left: 2px;
  }

  .type__title::after {
    display: none;
  }

  .type__row {
    margin-bottom: 30px;
  }

  .type__label {
    font-size: 19px;
    line-height: 0.95;
    margin-bottom: 55px;
    padding-left: 80px;

    &::before {
      left: 0;
      top: -15px;
      width: 48px;
      height: 48px;
    }

    &::after {
      top: 0;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }

  .form__color {
    background-color: #f1f1f1;
    padding-top: 50px;
    margin-bottom: 50px;
  }

  .form__wrapper-color {
    padding-bottom: 11px;
  }

  .color__title {
    margin-right: 122px;
    padding-top: 15px;
    padding-left: 2px;
  }

  .color__title::after {
    display: none;
  }

  .form__controls-color {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
  }

  .color__row {
    width: 230px;
    margin-bottom: 15px;
    margin-right: 33px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .color__label {
    font-size: 19px;
    line-height: 0.95;
    padding-left: 80px;

    &::before {
      width: 50px;
      height: 48px;
      top: -15px;
    }

    &::after {
      width: 13px;
      height: 25px;
      top: -9px;
      left: 17px;
      transform: rotate(46deg);
    }
  }

  .form__introduce {
    margin-bottom: 28px;
  }

  .introduce__title {
    margin-right: 128px;
    padding-top: 15px;
    padding-left: 2px;
  }

  .introduce__title::after {
    display: none;
  }

  .introduce__row {
    margin-bottom: 22px;
  }

  .introduce__label {
    margin-right: 25px;
  }

  .introduce__input {
    width: 360px;
    padding-left: 15px;
    letter-spacing: 1.5px;
  }

  .introduce__input-name {
    width: 403px;
  }

  .form__contact {
    margin-bottom: 45px;
    background-color: #f1f1f1;
  }

  .form__wrapper-contact {
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .contact__title-phone {
    margin-right: 136px;
    padding-top: 15px;
  }

  .contact__title-phone::after {
    display: none;
  }

  .contact__title-email {
    margin-right: 105px;
    padding-top: 16px;
  }

  .contact__title-email::after {
    display: none;
  }

  .contact__row {
    width: 500px;
    margin: 0;
    margin-bottom: 7px;
  }

  .contact__icon {
    &--phone {
      right: 25px;
    }

    &--email {
      right: 20px;
    }
  }

  .contact__input {
    width: 483px;
    padding-top: 13px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .form__additionally {
    margin-bottom: 50px;
  }

  .additionally__title {
    margin-right: 128px;
    padding-top: 17px;
    padding-left: 2px;
  }

  .additionally__title::after {
    display: none;
  }

  .additionally__row {
    margin: 0;
  }

  .additionally__textform {
    width: 465px;
    font-size: 19px;
    line-height: 0.95;
    letter-spacing: 0.1px;
    padding-top: 13px;
    padding-bottom: 23px;
    padding-left: 15px;
  }

  .form__footer {
    width: 668px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }

  .form__note {
    order: 2;
    font-size: 17px;
    line-height: 1.76;
    letter-spacing: -0.1px;
    margin: 0;
    padding-top: 10px;
    padding-left: 8px;
  }

  .form__button {
    margin-right: 130px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1150px) {
  .form__wrapper {
    width: 1050px;
  }

  .type__title {
    margin-right: 75px;
    padding-left: 65px;
  }

  .color__title {
    margin-right: 74px;
    padding-left: 61px;
  }

  .color__row {
    margin-right: 32px;

    &:nth-child(2n) {
      margin-right: 32px;
    }
  }

  .introduce__title {
    margin-right: 76px;
    padding-left: 62px;
  }

  .introduce__label {
    letter-spacing: 2px;
  }

  .introduce__input {
    width: 558px;
  }

  .introduce__input-name {
    width: 611px;
  }

  .contact__row {
    width: 700px;
  }

  .contact__icon {
    &--phone {
      right: 8px;
    }

    &--email {
      right: 5px;
    }
  }

  .contact__title-phone {
    width: 50px;
    margin-right: 63px;
    padding-left: 62px;
  }

  .contact__title-email {
    width: 70px;
    margin-right: 45px;
    padding-top: 17px;
    padding-left: 61px;
  }

  .contact__input {
    width: 680px;
  }

  .form__additionally {
    margin-bottom: 45px;
  }

  .additionally__title {
    margin-right: 75px;
    padding-left: 63px;
  }

  .additionally__textform {
    width: 665px;
  }

  .form__footer {
    width: 1050px;
  }

  .form__note {
    font-size: 17px;
    line-height: 1.76;
  }

  .form__button {
    margin-left: 177px;
    margin-right: 163px;
  }
}
