.about-us {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.about-us__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.about-us__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  padding-top: 85px;
}
