.main-footer {
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-footer__logo {
  display: none;
}

.main-footer__social-list {
  width: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px #ececec;
  margin-bottom: 25px;
  padding-top: 2px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 54px;
}

.main-footer__social-item {
  margin-right: 40px;
}

.main-footer__social-link:hover .main-footer__icon,
.main-footer__social-link:focus .main-footer__icon {
  fill: #46c1ae;
}

.main-footer__social-link:active .main-footer__icon {
  opacity: 0.3;
}

.main-footer__developed {
  width: 182px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 19px;
  line-height: 0.95;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000000;
}

.main-footer__icon--developed {
  fill: #46c1ae;
  fill-opacity: 0.7;
}

.main-footer__developed:hover .main-footer__icon--developed,
.main-footer__developed:focus .main-footer__icon--developed {
  opacity: 1;
}

.main-footer__developed:active .main-footer__icon--developed {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 668px;
    flex-direction: row;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
  }

  .main-footer__logo {
    display: inline-block;
    margin-right: 150px;
  }

  .logo__image--footer {
    width: 102px;
    height: 34px;
  }

  .main-footer__social-list {
    margin-right: 75px;
    border: none;
    padding: 0;
    padding-top: 10px;
  }

  .main-footer__developed {
    margin: 0;
    padding-top: 12px;
  }
}

@media (min-width: 1150px) {
  .main-footer__wrapper {
    width: 1050px;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 54px;
  }

  .main-footer__logo {
    margin-right: 350px;
  }

  .main-footer__social-list {
    margin: 0;
    margin-right: 265px;
    padding-top: 7px;
  }

  .main-footer__developed {
    padding-top: 15px;
  }
}
