.main-header {
  width: 320px;
  margin: 0 auto;


  &--index {
    margin-bottom: 30px;
  }
}

.main-header__logo {
  display: block;
  min-height: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 116px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
}

.main-navigation__item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 76px;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  &--new {
    display: none;
  }

  &--sales {
    display: none;
  }

  &--dellivery {
    display: none;
  }
}

.main-navigation__item--search {
  position: relative;
}

.main-navigation__item--search::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 32px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.main-navigation__item--cart {
  position: relative;
}

.main-navigation__item--cart::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 32px;
  width: 21px;
  height: 19px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.main-navigation__link {
  text-decoration: none;
  font-size: 17px;
  color: #000000;
  font-weight: bold;
  line-height: 1.41;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__icon {
  display: none;
}

.main-header__content {
  background-color: #f9f9f9;
  background: {
    image: url("../img/hero-mobile@1x.jpg");
    repeat: no-repeat;
    position: center;
  }
}

.main-header__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  padding-top: 70px;
  padding-bottom: 120px;
  padding-left: 35px;
}

.main-header__features-item {
  width: 105px;
  padding: 30px;
  padding-right: 185px;

  &--interior {
    position: relative;
    background-color: #63d1bb;
  }

  &--toys {
    position: relative;
    background-color: #56c3b2;
  }
}

.main-header__features-item--interior::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
  fill: #149080;
}

.main-header__features-item--toys::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
  fill: #149080;
}

.main-header__features-link {
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  color: #ffffff;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .main-header {
    width: 768px;
  }

  .main-header__wrapper {
    margin: 0 auto;
  }

  .main-header__logo {
    position: absolute;
    padding-bottom: 0;
    padding-left: 50px;
  }

  .main-header__navigation {
    padding: 0 50px;
  }

  .main-navigation__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-navigation__item {
    box-shadow: none;
    padding: 0;
    padding-top: 20px;

    &--catalog {
      margin-right: 35px;
      order: 3;
    }

    &--order {
      margin-right: 105px;
      order: 4;
    }

    &--search {
      width: 82px;
      border: 1px solid #ececec;
      border-top: none;
      border-bottom: none;
      margin-left: 321px;
      padding-top: 10px;
      order: 1;
    }

    &--cart {
      padding-left: 90px;
      order: 2;
    }

    &--dellivery {
      display: inline-block;
      order: 5;
    }
  }

  .main-navigation__icon {
    display: block;
    margin: 0 auto;
  }

  .main-navigation__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 746px;
    margin-top: -30px;

    background: {
      image: url("../img/hero-tablet@1x.jpg");
      repeat: no-repeat;
      position: center;
    }
  }

  .main-header__title {
    width: 494px;
    font-size: 43px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 260px;
  }

  .main-header__features-list {
    width: 668px;
    margin: 0 auto;
    display: flex;
  }

  .main-header__features-item {
    width: 113px;
    padding: 36px;
    padding-right: 185px;
  }
}

@media (min-width: 1150px) {
  .main-header {
    width: 1050px;
  }

  .main-navigation__list {
    width: 1050px;
    margin: 0 auto;
  }

  .main-header__logo {
    left: 45%;
  }

  .main-navigation__item {
    box-shadow: none;

    &--catalog {
      order: 1;
    }

    &--order {
      order: 2;
    }

    &--search {
      margin-left: 250px;
      order: 3;
    }

    &--cart {
      padding-left: 80px;
      order: 4;
    }

    &--new {
      display: inline-block;
      font-size: 15px;
      line-height: 1.6;
      margin-right: 55px;
      order: 5;
    }

    &--sales {
      display: inline-block;
      font-size: 15px;
      line-height: 1.6;
      margin-right: 440px;
      order: 6;
    }

    &--dellivery {
      display: inline-block;
      order: 7;
    }
  }

  .main-header__title {
    width: 604px;
    font-size: 53px;
    line-height: 1.08;
  }

  .main-header__features-list {
    width: 1050px;
    margin: 0 auto;
    display: flex;
  }

  .main-header__features-item {
    width: 113px;
    padding: 36px;
    padding-right: 377px;
  }
}
