.promo {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.promo__header {
  margin-bottom: 25px;
}

.promo__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.promo__product-offer {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: #63d1bb;
  margin: 0;
  padding: 0;
}

.promo__description {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.promo__specifications {
  margin-bottom: 25px;
}

.promo__specifications-cell {
  font-size: 15px;
  line-height: 1.33;
  padding: 10px 30px 10px 0;
  border-bottom: solid 1px #f1f1f1;
}

.promo__image {
  background-color: #f1f1f1;
  margin-bottom: 25px;
}

.promo__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.promo__button {
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-transform: uppercase;
  color: #444444;
  border: solid 2px #444444;
  padding: 15px 80px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {
  .promo {
    width: 668px;
    margin: 0 auto;
    margin-bottom: 125px;
  }

  .promo__header {
    display: flex;
    justify-content: space-between;
  }

  .promo__title {
    font-size: 43px;
    line-height: 1.16;
  }

  .promo__product-offer {
    width: 70px;
    text-align: center;
    padding-top: 5px;
    padding-right: 25px;
  }

  .promo__container {
    display: flex;
    flex-direction: column;
    width: 290px;
  }

  .promo__image {
    position: absolute;
    left: 435px;
  }
}

@media (min-width: 1150px) {
  .promo {
    display: flex;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 160px;
    flex-direction: column;
  }

  .promo__header {
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-left: 45px;
    z-index: 2;
  }

  .promo__title {
    font-size: 53px;
    line-height: 1.08;
    margin-left: 35px;
  }

  .promo__container {
    margin-left: 175px;
    position: relative;
  }
}
