.promo {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 69px;
}

.promo__header {
  margin-bottom: 22px;
}

.promo__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1.4px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.promo__product-offer {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: 0.7px;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.promo__description {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: #444444;
}

.promo__specifications {
  margin-bottom: 25px;
}

.promo__specifications-cell {
  font-size: 15px;
  line-height: 1.33;
  padding: 7px 25px 10px 0;
  border-bottom: solid 1px #f1f1f1;
}

.promo__image {
  background-color: #f1f1f1;
  margin-bottom: 22px;
}

.promo__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  letter-spacing: 0.7px;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.promo__button {
  width: 100px;
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #444444;
  border: solid 2px #444444;
  padding: 15px;
  padding-right: 74px;
  padding-left: 82px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {
  .promo {
    position: relative;
    width: 668px;
    margin: 0 auto;
    margin-bottom: 117px;
  }

  .promo__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
  }

  .promo__title {
    font-size: 43px;
    line-height: 1.16;
  }

  .promo__product-offer {
    width: 70px;
    text-align: center;
    padding-top: 10px;
    padding-right: 25px;
  }

  .promo__container {
    display: flex;
    flex-direction: column;
    width: 290px;
  }

  .promo__description {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 40px;
  }

  .promo__specifications {
    margin-bottom: 55px;
  }

  .promo__specifications-cell {
    padding-left: 25px;

    &--parameter {
      width: 60px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .promo__price {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  .promo__button {
    padding-right: 90px;
    padding-left: 95px;
  }

  .promo__image {
    position: absolute;
    width: 333px;
    height: 404px;
    top: 105px;
    right: 0;
    z-index: -1;
  }
}

@media (min-width: 1150px) {
  .promo {
    display: flex;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 155px;
    flex-direction: column;
  }

  .promo__header {
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-left: 45px;
    margin-bottom: 44px;
    padding-top: 79px;
    z-index: 2;
  }

  .promo__title {
    font-size: 53px;
    line-height: 1.08;
    letter-spacing: 1.9px;
    margin-left: 35px;
  }

  .promo__container {
    margin-left: 175px;
  }

  .promo__description {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 50px;
  }

  .promo__specifications {
    margin-bottom: 105px;
  }

  .promo__specifications-cell {
    padding-top: 9px;
  }

  .promo__price {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.5px;
  }

  .promo__button {
    width: 108px;
    padding-left: 100px;
    padding-right: 80px;
  }

  .promo__image {
    position: absolute;
    width: 525px;
    height: 636px;
    top: 25px;
    right: 0;
  }
}
