.reviews {
  margin-bottom: 90px;
}

.reviews__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 2;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.reviews__author-contact {
  font-weight: normal;
  line-height: 1.76;
}

.reviews__prev {
  font-size: 0;
  width: 50px;
  height: 26px;
  background: {
    image: url("../img/icon-left-arrow.svg");
    repeat: no-repeat;
  }
}

.reviews__next {
  font-size: 0;
  width: 50px;
  height: 26px;
  background: {
    image: url("../img/icon-right-arrow.svg");
    repeat: no-repeat;
  }
}

.reviews__button {
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-transform: uppercase;
  color: #000000;
  border: solid 2px #000000;
  padding: 15px 80px;
}
