.catalog__list {
  width: 260px;
  margin: 0 auto;
  padding-top: 7px;
  margin-bottom: 30px;
}

.catalog__header {
  background-color: #ececec;
  margin: 0;
  margin-bottom: 25px;
}

.catalog__title {
  width: 260px;
  font-size: 27px;
  line-height: 1.11;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
  padding-right: 30px;
  padding-bottom: 77px;
  padding-left: 30px;
}

.catalog__item {
  margin-bottom: 31px;
}

.card__link {
  display: block;
  line-height: 0;
}

.card__link-title {
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.card__wrapper {
  border: solid 1px #ececec;
  padding-left: 28px;
  padding-right: 28px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  letter-spacing: 1.1px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 5px;
}

.card__description {
  font-size: 13px;
  line-height: 2.31;
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
}

.card__price-wrapper {
  width: 204px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 26px;
  border-top: solid 1px #ececec;
}

.card__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  margin: 0;
}

.card__button {
  & path {
    fill-opacity: 0.2;
  }

  &:hover path {
    fill: #63d1bb;
    fill-opacity: 1;
  }

  &:active path {
    fill-opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .catalog__list {
    width: 668px;
  }

  .catalog__item {
    margin: 0 auto;
    margin-bottom: 54px;
  }

  .catalog__header {
    position: relative;
    margin-top: -42px;
    margin-bottom: 70px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      bottom: -12px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 100%;
      background-repeat: repeat-x;
    }
  }

  .catalog__title {
    width: 668px;
    font-size: 43px;
    line-height: 1.16;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 82px;
  }

  .catalog__card {
    display: flex;
    flex-grow: 0;
  }

  .card__image {
    width: 334px;
    height: 334px;
  }

  .card__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 32px;
    padding-left: 27px;
  }

  .card__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .card__description {
    font-size: 15px;
    line-height: 2;
    padding: 0;
  }

  .card__price-wrapper {
    width: 268px;
    padding: 0;
    margin-top: auto;
    padding-top: 22px;
    padding-bottom: 28px;
    padding-left: 4px;
  }

  .card__price {
    font-size: 17px;
    line-height: 1.41;
  }
}

@media (min-width: 1150px) {
  .catalog__header {
    &::after {
      height: 34px;
      bottom: 0;
      left: 0;
    }
  }

  .catalog__title {
    font-size: 53px;
    line-height: 1.08;
    letter-spacing: 2px;
    margin-bottom: 108px;
    padding-bottom: 115px;
  }

  .catalog__list {
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .catalog__item {
    display: flex;
    margin: 0;
    margin-right: 50px;
    margin-bottom: 57px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__card {
    width: 316px;
    display: flex;
    flex-direction: column;
  }

  .card__image {
    width: 316px;
    height: 462px;
  }

  .card__wrapper {
    flex-grow: 1;
  }

  .card__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .card__description {
    font-size: 15px;
    line-height: 2;
    padding-bottom: 15px;
  }

  .card__price-wrapper {
    width: 256px;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 27px;
    padding-left: 0;
  }

  .card__price {
    font-size: 17px;
    line-height: 1.41;
  }
}
