.process {
  position: relative;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding-top: 20px;
  padding-bottom: 27px;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.process__header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 34px;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.process__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  margin: 0;
  margin-bottom: 26px;
  padding-left: 90px;
}

.process__image {
  margin-bottom: 30px;
}

.process__button {
  &--play {
    position: absolute;
    top: 30%;
    left: 30%;
    display: inline-block;
    width: 101px;
    height: 77px;
    background: {
      image: url("../../../img/icon-play.svg");
      repeat: no-repeat;
    }
  }

  &--add {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.18;
    text-transform: uppercase;
    color: #444444;
    border: solid 2px #444444;
    margin-left: 32px;
    padding: 15px 29px;

    &:hover {
      color: #ffffff;
      background-color: #444444;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.process__description {
  width: 184px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  margin: 0 34px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .process {
    width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding: 0;
    padding-bottom: 44px;
  }

  .process__header {
    order: 2;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 35px;
  }

  .process__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .process__image {
    width: 668px;
    height: 455px;
    order: 1;
  }

  .process__button {
    &--play {
      top: 15%;
      left: 40%;
    }

    &--add {
      width: 500px;
      margin: 0 auto;
      text-align: center;
      padding: 15px 41px;
      order: 4;
    }
  }

  .process__description {
    width: 582px;
    font-size: 15px;
    line-height: 2;
    margin: 0 auto;
    margin-bottom: 38px;
    order: 3;
  }
}

@media (min-width: 1150px) {
  .process {
    position: relative;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
    flex-direction: column;
    padding-left: 759px;
    flex-wrap: wrap;
    padding-bottom: 60px;
    box-sizing: border-box;
  }

  .process__header {
    width: 230px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 95px;
  }

  .process__title {
    width: 150px;
    margin: 0;
    padding-left: 0;
  }

  .process__image-wrapper {
    width: 682px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .process__image {
    width: 682px;
    margin: 0;
  }

  .process__description {
    width: 230px;
  }

  .process__button {
    &--play {
      top: 25%;
      left: 25%;
    }

    &--add {
      width: 144px;
    }
  }
}
