.process {
  position: relative;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
  padding-bottom: 30px;
  border: 1px solid #ececec;
}

.process__header {
  padding: 0 30px;
}

.process__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 21px;
  padding-left: 57px;
}

.process__image {
  margin-bottom: 30px;
}

.process__button {
  &--play {
    position: absolute;
    top: 30%;
    left: 30%;
    display: inline-block;
    width: 101px;
    height: 77px;
    background: {
      image: url("../../../img/icon-play.svg");
      repeat: no-repeat;
    }
  }

  &--add {
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.18;
    text-transform: uppercase;
    color: #444444;
    border: solid 2px #444444;
    margin-left: 32px;
    padding: 15px 29px;

    &:hover {
      color: #ffffff;
      background-color: #444444;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.process__description {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 34px;
}
